<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-avatar>
    <img class="circle" [src]="customer?.imageUrl || 'assets/imgs/avatar-blank.png'">
  </ion-avatar>
  <h2 class="ion-text-center">{{customer?.name}}</h2>
  <p class="ion-text-center">{{customer?.email}}</p>

  <ion-card>
    <ion-card-header>
      Send profile image
    </ion-card-header>
    <ion-item *ngIf="picture">
      <ion-img [src]="picture.pathForImage"></ion-img>
    </ion-item>
    <ion-item>
      <ion-button (click)="getCameraPicture()" [disabled]="isCameraOn">Camera</ion-button>
      <ion-button (click)="getGaleryPicture()" [disabled]="isCameraOn">Galery</ion-button>
      <ion-button *ngIf="picture" (click)="sendPicture()">Send picture</ion-button>
      <ion-button *ngIf="picture" (click)="cancel()">Cancel</ion-button>
    </ion-item>
  </ion-card>
</ion-content>