<ion-content>

  <h3>Order system</h3>

  <img src="assets/imgs/homepage.png" alt="logo">

  <form>
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input [(ngModel)]="credentials.email" name="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input [(ngModel)]="credentials.password" name="password" type="password"></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="login()">Login</ion-button>
  </form>

  <ion-button fill="outline" expand="block" (click)="signup()">Sign up</ion-button>

</ion-content>